services:
  - type: web
    name: callofmine-file-host
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    autoDeploy: true
    envVars:
      - key: STORAGE_PROVIDER
        value: s3
      - key: S3_BUCKET
        sync: false
      - key: S3_REGION
        value: auto
      - key: S3_ENDPOINT
        sync: false
      - key: S3_ACCESS_KEY_ID
        sync: false
      - key: S3_SECRET_ACCESS_KEY
        sync: false
      - key: S3_FORCE_PATH_STYLE
        value: "false"
